USE [EduProDb]
GO
/****** Object:  Table [dbo].[AdmissionDocuments]    Script Date: 14/12/2025 22:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdmissionDocuments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AdmissionId] [int] NOT NULL,
	[TenTaiLieu] [nvarchar](100) NOT NULL,
	[FileUrl] [nvarchar](300) NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[GhiChu] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdmissionRequirements]    Script Date: 14/12/2025 22:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdmissionRequirements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaNganh] [nvarchar](50) NOT NULL,
	[KhoiThi] [nvarchar](50) NOT NULL,
	[Mon1] [nvarchar](50) NOT NULL,
	[Mon2] [nvarchar](50) NOT NULL,
	[Mon3] [nvarchar](50) NOT NULL,
	[HeSo1] [decimal](4, 2) NOT NULL,
	[HeSo2] [decimal](4, 2) NOT NULL,
	[HeSo3] [decimal](4, 2) NOT NULL,
	[DiemChuan] [decimal](5, 2) NULL,
	[HieuLucTu] [date] NULL,
	[HieuLucDen] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admissions]    Script Date: 14/12/2025 22:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](200) NULL,
	[Phone] [nvarchar](50) NULL,
	[CCCD] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](300) NULL,
	[MaNam] [nvarchar](20) NULL,
	[MaHK] [nvarchar](20) NULL,
	[MaNganh] [nvarchar](50) NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[MaTraCuu] [nvarchar](20) NOT NULL,
	[NgayNop] [datetime] NOT NULL,
	[NgayCapNhat] [datetime] NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MaTraCuu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdmissionScores]    Script Date: 14/12/2025 22:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdmissionScores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AdmissionId] [int] NOT NULL,
	[Mon] [nvarchar](50) NOT NULL,
	[Diem] [decimal](5, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdmissionStatusHistory]    Script Date: 14/12/2025 22:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdmissionStatusHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AdmissionId] [int] NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdmissionTransactions]    Script Date: 14/12/2025 22:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdmissionTransactions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AdmissionId] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Provider] [nvarchar](50) NULL,
	[ProviderRef] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLog]    Script Date: 14/12/2025 22:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLog](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[Action] [nvarchar](50) NOT NULL,
	[EntityTable] [nvarchar](50) NOT NULL,
	[EntityId] [nvarchar](50) NOT NULL,
	[OldValue] [nvarchar](max) NULL,
	[NewValue] [nvarchar](max) NULL,
	[PerformedBy] [nvarchar](50) NOT NULL,
	[IPAddress] [nvarchar](50) NULL,
	[UserAgent] [nvarchar](200) NULL,
	[Timestamp] [datetime] NOT NULL,
	[Status] [nvarchar](20) NULL,
	[Module] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CaHoc]    Script Date: 14/12/2025 22:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaHoc](
	[MaCa] [nvarchar](10) NOT NULL,
	[MoTa] [nvarchar](100) NOT NULL,
	[GioBatDau] [time](7) NOT NULL,
	[GioKetThuc] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CongNo]    Script Date: 14/12/2025 22:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongNo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaSV] [nvarchar](10) NOT NULL,
	[MaHK] [nvarchar](10) NOT NULL,
	[SoTienNo] [decimal](18, 2) NOT NULL,
	[NgayCapNhat] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_CongNo_SV_HK] UNIQUE NONCLUSTERED 
(
	[MaSV] ASC,
	[MaHK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTDT]    Script Date: 14/12/2025 22:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDT](
	[MaCTDT] [int] IDENTITY(1,1) NOT NULL,
	[MaNganh] [nvarchar](10) NOT NULL,
	[MaKhoaTS] [nvarchar](10) NOT NULL,
	[TenCTDT] [nvarchar](200) NOT NULL,
	[NamBanHanh] [int] NOT NULL,
	[TrangThai] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_CTDT_Nganh_Khoa] UNIQUE NONCLUSTERED 
(
	[MaNganh] ASC,
	[MaKhoaTS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTDT_ChiTiet]    Script Date: 14/12/2025 22:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDT_ChiTiet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaCTDT] [int] NOT NULL,
	[MaHP] [nvarchar](10) NOT NULL,
	[HocKyDuKien] [int] NOT NULL,
	[BatBuoc] [bit] NOT NULL,
	[NhomTuChon] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DangKyHocPhan]    Script Date: 14/12/2025 22:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangKyHocPhan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaSV] [nvarchar](10) NOT NULL,
	[MaLHP] [nvarchar](20) NOT NULL,
	[NgayDangKy] [datetime] NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_DangKy_SV_LHP] UNIQUE NONCLUSTERED 
(
	[MaSV] ASC,
	[MaLHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Diem]    Script Date: 14/12/2025 22:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaSV] [nvarchar](10) NOT NULL,
	[MaLHP] [nvarchar](20) NOT NULL,
	[DiemQT] [decimal](4, 2) NULL,
	[DiemGK] [decimal](4, 2) NULL,
	[DiemCK] [decimal](4, 2) NULL,
	[DiemTK] [decimal](4, 2) NULL,
	[DiemChu] [nvarchar](2) NULL,
	[DiemHe4] [decimal](3, 2) NULL,
	[KetQua] [nvarchar](20) NULL,
	[NgayCapNhat] [datetime] NOT NULL,
	[NguoiNhap] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_Diem_SV_LHP] UNIQUE NONCLUSTERED 
(
	[MaSV] ASC,
	[MaLHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DieuKienTotNghiep]    Script Date: 14/12/2025 22:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DieuKienTotNghiep](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaNganh] [nvarchar](10) NOT NULL,
	[MaKhoaTS] [nvarchar](10) NOT NULL,
	[SoTinChiToiThieu] [int] NOT NULL,
	[DiemTBTichLuyToiThieu] [decimal](4, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiangVien]    Script Date: 14/12/2025 22:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiangVien](
	[MaGV] [nvarchar](10) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[DienThoai] [nvarchar](20) NULL,
	[MaKhoa] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HocKy]    Script Date: 14/12/2025 22:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocKy](
	[MaHK] [nvarchar](10) NOT NULL,
	[TenHK] [nvarchar](50) NOT NULL,
	[MaNam] [nvarchar](10) NOT NULL,
	[NgayBatDau] [date] NOT NULL,
	[NgayKetThuc] [date] NOT NULL,
	[ChoPhepDangKy] [bit] NOT NULL,
	[NgayBatDauDangKy] [date] NULL,
	[NgayKetThucDangKy] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HocPhan]    Script Date: 14/12/2025 22:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocPhan](
	[MaHP] [nvarchar](10) NOT NULL,
	[TenHP] [nvarchar](200) NOT NULL,
	[SoTinChi] [int] NOT NULL,
	[SoTietLT] [int] NULL,
	[SoTietTH] [int] NULL,
	[BatBuoc] [bit] NOT NULL,
	[LoaiHocPhan] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HocPhiCatalog]    Script Date: 14/12/2025 22:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocPhiCatalog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaNganh] [nvarchar](10) NOT NULL,
	[MaHK] [nvarchar](10) NOT NULL,
	[DonGiaTinChi] [decimal](18, 2) NOT NULL,
	[PhuPhiThucHanh] [decimal](18, 2) NOT NULL,
	[HieuLucTu] [date] NOT NULL,
	[HieuLucDen] [date] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[GiamTruPercent] [decimal](5, 2) NOT NULL,
	[NgayHetHan] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khoa]    Script Date: 14/12/2025 22:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoa](
	[MaKhoa] [nvarchar](10) NOT NULL,
	[TenKhoa] [nvarchar](100) NOT NULL,
	[TrangThai] [bit] NOT NULL,
	[NgayTao] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhoaTuyenSinh]    Script Date: 14/12/2025 22:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoaTuyenSinh](
	[MaKhoaTS] [nvarchar](10) NOT NULL,
	[NamBatDau] [int] NOT NULL,
	[TenKhoaTS] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhoaTS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogHeThong]    Script Date: 14/12/2025 22:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogHeThong](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[HanhDong] [nvarchar](200) NOT NULL,
	[ThoiGian] [datetime] NOT NULL,
	[ChiTiet] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoginAttempt]    Script Date: 14/12/2025 22:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginAttempt](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[IPAddress] [nvarchar](50) NULL,
	[AttemptTime] [datetime] NOT NULL,
	[IsSuccess] [bit] NOT NULL,
	[FailureReason] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopHocPhan]    Script Date: 14/12/2025 22:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHocPhan](
	[MaLHP] [nvarchar](20) NOT NULL,
	[MaHP] [nvarchar](10) NOT NULL,
	[MaHK] [nvarchar](10) NOT NULL,
	[MaNam] [nvarchar](10) NOT NULL,
	[MaGV] [nvarchar](10) NOT NULL,
	[MaPhong] [nvarchar](10) NOT NULL,
	[MaCa] [nvarchar](10) NOT NULL,
	[ThuTrongTuan] [tinyint] NOT NULL,
	[SiSoToiDa] [int] NOT NULL,
	[GhiChu] [nvarchar](200) NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
	[SoBuoiHoc] [int] NULL,
	[SoBuoiTrongTuan] [tinyint] NULL,
	[TrangThaiLop] [nvarchar](50) NULL,
	[TrongSoCC] [decimal](3, 2) NOT NULL,
	[TrongSoGK] [decimal](3, 2) NOT NULL,
	[TrongSoCK] [decimal](3, 2) NOT NULL,
	[MaKhoa] [nvarchar](20) NULL,
	[MaNganh] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NamHoc]    Script Date: 14/12/2025 22:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NamHoc](
	[MaNam] [nvarchar](10) NOT NULL,
	[NamBatDau] [int] NOT NULL,
	[NamKetThuc] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nganh]    Script Date: 14/12/2025 22:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nganh](
	[MaNganh] [nvarchar](10) NOT NULL,
	[TenNganh] [nvarchar](100) NOT NULL,
	[MaKhoa] [nvarchar](10) NOT NULL,
	[TrangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNganh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhatKyHoatDong]    Script Date: 14/12/2025 22:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhatKyHoatDong](
	[MaNhatKy] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[LoaiHoatDong] [nvarchar](50) NOT NULL,
	[MoDun] [nvarchar](100) NULL,
	[MoTa] [nvarchar](255) NULL,
	[DiaChiIP] [nvarchar](50) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[NgayGio] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhatKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentLedger]    Script Date: 14/12/2025 22:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentLedger](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PaymentId] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Type] [nvarchar](20) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[BalanceAfter] [decimal](18, 2) NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentTransaction]    Script Date: 14/12/2025 22:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentTransaction](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaSV] [nvarchar](10) NOT NULL,
	[MaHK] [nvarchar](10) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Method] [nvarchar](30) NOT NULL,
	[Provider] [nvarchar](30) NULL,
	[ProviderRef] [nvarchar](100) NULL,
	[ProviderTransId] [nvarchar](100) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ConfirmedAt] [datetime] NULL,
	[Note] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongHoc]    Script Date: 14/12/2025 22:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongHoc](
	[MaPhong] [nvarchar](10) NOT NULL,
	[TenPhong] [nvarchar](50) NOT NULL,
	[SucChua] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhucKhao]    Script Date: 14/12/2025 22:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhucKhao](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaSV] [nvarchar](10) NOT NULL,
	[MaLHP] [nvarchar](20) NOT NULL,
	[LyDo] [nvarchar](500) NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[NgayGui] [datetime] NOT NULL,
	[NgayXuLy] [datetime] NULL,
	[GhiChuXuLy] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quyen]    Script Date: 14/12/2025 22:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quyen](
	[MaQuyen] [nvarchar](50) NOT NULL,
	[TenQuyen] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 14/12/2025 22:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MaSV] [nvarchar](10) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[Email] [nvarchar](100) NULL,
	[DienThoai] [nvarchar](20) NULL,
	[MaNganh] [nvarchar](10) NOT NULL,
	[MaKhoaTS] [nvarchar](10) NOT NULL,
	[LopHanhChinh] [nvarchar](50) NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien_TrangThai]    Script Date: 14/12/2025 22:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien_TrangThai](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaSV] [nvarchar](10) NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[NgayCapNhat] [datetime] NOT NULL,
	[GhiChu] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 14/12/2025 22:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhauHash] [varbinary](256) NOT NULL,
	[MaVaiTro] [nvarchar](20) NOT NULL,
	[MaSV] [nvarchar](10) NULL,
	[MaGV] [nvarchar](10) NULL,
	[TrangThai] [bit] NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[LanDangNhapCuoi] [datetime] NULL,
	[DangNhapLanCuoi] [datetime] NULL,
	[DiaChiIPCuoi] [nvarchar](50) NULL,
	[SoLanDangNhapThatBai] [int] NULL,
	[KhoaLuc] [datetime] NULL,
	[LanDauDangNhap] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongBao]    Script Date: 14/12/2025 22:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongBao](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](200) NOT NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[NguoiGui] [nvarchar](50) NOT NULL,
	[NgayGui] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongBao_NguoiNhan]    Script Date: 14/12/2025 22:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongBao_NguoiNhan](
	[IdThongBao] [int] NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[DaDoc] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdThongBao] ASC,
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TienQuyet]    Script Date: 14/12/2025 22:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TienQuyet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaHP] [nvarchar](10) NOT NULL,
	[MaHP_TienQuyet] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_TienQuyet_HP] UNIQUE NONCLUSTERED 
(
	[MaHP] ASC,
	[MaHP_TienQuyet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TokenBlacklist]    Script Date: 14/12/2025 22:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TokenBlacklist](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TokenId] [nvarchar](100) NOT NULL,
	[ExpiryDate] [datetime] NOT NULL,
	[Reason] [nvarchar](200) NULL,
	[RevokedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaiTro]    Script Date: 14/12/2025 22:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaiTro](
	[MaVaiTro] [nvarchar](20) NOT NULL,
	[TenVaiTro] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaiTro_Quyen]    Script Date: 14/12/2025 22:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaiTro_Quyen](
	[MaVaiTro] [nvarchar](20) NOT NULL,
	[MaQuyen] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVaiTro] ASC,
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XetTotNghiep]    Script Date: 14/12/2025 22:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XetTotNghiep](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaSV] [nvarchar](10) NOT NULL,
	[LanXet] [int] NOT NULL,
	[KetQua] [nvarchar](50) NOT NULL,
	[LyDo] [nvarchar](500) NULL,
	[NgayXet] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YeuCauDacBiet]    Script Date: 14/12/2025 22:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YeuCauDacBiet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaSV] [nvarchar](10) NOT NULL,
	[LoaiYeuCau] [nvarchar](50) NOT NULL,
	[MaLHP] [nvarchar](20) NULL,
	[LyDo] [nvarchar](500) NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[NgayGui] [datetime] NOT NULL,
	[NgayXuLy] [datetime] NULL,
	[NguoiXuLy] [nvarchar](50) NULL,
	[KetQuaXuLy] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AdmissionDocuments] ADD  DEFAULT (N'Chưa kiểm tra') FOR [TrangThai]
GO
ALTER TABLE [dbo].[AdmissionRequirements] ADD  DEFAULT ((1)) FOR [HeSo1]
GO
ALTER TABLE [dbo].[AdmissionRequirements] ADD  DEFAULT ((1)) FOR [HeSo2]
GO
ALTER TABLE [dbo].[AdmissionRequirements] ADD  DEFAULT ((1)) FOR [HeSo3]
GO
ALTER TABLE [dbo].[Admissions] ADD  DEFAULT (N'Đã nộp') FOR [TrangThai]
GO
ALTER TABLE [dbo].[Admissions] ADD  DEFAULT (getdate()) FOR [NgayNop]
GO
ALTER TABLE [dbo].[Admissions] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[AdmissionStatusHistory] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AdmissionTransactions] ADD  DEFAULT ((0)) FOR [Amount]
GO
ALTER TABLE [dbo].[AdmissionTransactions] ADD  DEFAULT (N'Pending') FOR [Status]
GO
ALTER TABLE [dbo].[AdmissionTransactions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AdmissionTransactions] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[AuditLog] ADD  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[AuditLog] ADD  CONSTRAINT [DF_AuditLog_Status]  DEFAULT ('SUCCESS') FOR [Status]
GO
ALTER TABLE [dbo].[CongNo] ADD  DEFAULT ((0)) FOR [SoTienNo]
GO
ALTER TABLE [dbo].[CongNo] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[CTDT] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[CTDT_ChiTiet] ADD  DEFAULT ((1)) FOR [BatBuoc]
GO
ALTER TABLE [dbo].[DangKyHocPhan] ADD  DEFAULT (getdate()) FOR [NgayDangKy]
GO
ALTER TABLE [dbo].[DangKyHocPhan] ADD  DEFAULT (N'ÄÄƒng kÃ½') FOR [TrangThai]
GO
ALTER TABLE [dbo].[Diem] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[HocKy] ADD  DEFAULT ((0)) FOR [ChoPhepDangKy]
GO
ALTER TABLE [dbo].[HocPhan] ADD  DEFAULT ((1)) FOR [BatBuoc]
GO
ALTER TABLE [dbo].[HocPhan] ADD  DEFAULT (N'LÃ½ thuyáº¿t') FOR [LoaiHocPhan]
GO
ALTER TABLE [dbo].[HocPhiCatalog] ADD  DEFAULT ((0)) FOR [PhuPhiThucHanh]
GO
ALTER TABLE [dbo].[HocPhiCatalog] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[HocPhiCatalog] ADD  DEFAULT ((0)) FOR [GiamTruPercent]
GO
ALTER TABLE [dbo].[Khoa] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[Khoa] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[LogHeThong] ADD  DEFAULT (getdate()) FOR [ThoiGian]
GO
ALTER TABLE [dbo].[LoginAttempt] ADD  DEFAULT (getdate()) FOR [AttemptTime]
GO
ALTER TABLE [dbo].[LopHocPhan] ADD  DEFAULT ((13)) FOR [SoBuoiHoc]
GO
ALTER TABLE [dbo].[LopHocPhan] ADD  DEFAULT ((1)) FOR [SoBuoiTrongTuan]
GO
ALTER TABLE [dbo].[LopHocPhan] ADD  DEFAULT (N'Sắp khai giảng') FOR [TrangThaiLop]
GO
ALTER TABLE [dbo].[LopHocPhan] ADD  DEFAULT ((0.1)) FOR [TrongSoCC]
GO
ALTER TABLE [dbo].[LopHocPhan] ADD  DEFAULT ((0.4)) FOR [TrongSoGK]
GO
ALTER TABLE [dbo].[LopHocPhan] ADD  DEFAULT ((0.5)) FOR [TrongSoCK]
GO
ALTER TABLE [dbo].[Nganh] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[NhatKyHoatDong] ADD  DEFAULT (getdate()) FOR [NgayGio]
GO
ALTER TABLE [dbo].[PaymentLedger] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PaymentTransaction] ADD  DEFAULT (N'Pending') FOR [Status]
GO
ALTER TABLE [dbo].[PaymentTransaction] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PhucKhao] ADD  DEFAULT (N'Chá» xá»­ lÃ½') FOR [TrangThai]
GO
ALTER TABLE [dbo].[PhucKhao] ADD  DEFAULT (getdate()) FOR [NgayGui]
GO
ALTER TABLE [dbo].[SinhVien] ADD  DEFAULT (N'Äang há»c') FOR [TrangThai]
GO
ALTER TABLE [dbo].[SinhVien_TrangThai] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT ((0)) FOR [SoLanDangNhapThatBai]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  CONSTRAINT [DF_LanDauDangNhap]  DEFAULT ((1)) FOR [LanDauDangNhap]
GO
ALTER TABLE [dbo].[ThongBao] ADD  DEFAULT (getdate()) FOR [NgayGui]
GO
ALTER TABLE [dbo].[ThongBao_NguoiNhan] ADD  DEFAULT ((0)) FOR [DaDoc]
GO
ALTER TABLE [dbo].[TokenBlacklist] ADD  DEFAULT (getdate()) FOR [RevokedAt]
GO
ALTER TABLE [dbo].[XetTotNghiep] ADD  DEFAULT (getdate()) FOR [NgayXet]
GO
ALTER TABLE [dbo].[YeuCauDacBiet] ADD  DEFAULT (N'Chá» duyá»‡t') FOR [TrangThai]
GO
ALTER TABLE [dbo].[YeuCauDacBiet] ADD  DEFAULT (getdate()) FOR [NgayGui]
GO
ALTER TABLE [dbo].[AdmissionDocuments]  WITH CHECK ADD  CONSTRAINT [FK_AdmissionDocuments_Admissions] FOREIGN KEY([AdmissionId])
REFERENCES [dbo].[Admissions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AdmissionDocuments] CHECK CONSTRAINT [FK_AdmissionDocuments_Admissions]
GO
ALTER TABLE [dbo].[AdmissionScores]  WITH CHECK ADD  CONSTRAINT [FK_AdmissionScores_Admissions] FOREIGN KEY([AdmissionId])
REFERENCES [dbo].[Admissions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AdmissionScores] CHECK CONSTRAINT [FK_AdmissionScores_Admissions]
GO
ALTER TABLE [dbo].[AdmissionStatusHistory]  WITH CHECK ADD  CONSTRAINT [FK_AdmissionStatusHistory_Admissions] FOREIGN KEY([AdmissionId])
REFERENCES [dbo].[Admissions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AdmissionStatusHistory] CHECK CONSTRAINT [FK_AdmissionStatusHistory_Admissions]
GO
ALTER TABLE [dbo].[AdmissionTransactions]  WITH CHECK ADD  CONSTRAINT [FK_AdmissionTransactions_Admissions] FOREIGN KEY([AdmissionId])
REFERENCES [dbo].[Admissions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AdmissionTransactions] CHECK CONSTRAINT [FK_AdmissionTransactions_Admissions]
GO
ALTER TABLE [dbo].[CongNo]  WITH CHECK ADD  CONSTRAINT [FK_CongNo_HK] FOREIGN KEY([MaHK])
REFERENCES [dbo].[HocKy] ([MaHK])
GO
ALTER TABLE [dbo].[CongNo] CHECK CONSTRAINT [FK_CongNo_HK]
GO
ALTER TABLE [dbo].[CongNo]  WITH CHECK ADD  CONSTRAINT [FK_CongNo_SV] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhVien] ([MaSV])
GO
ALTER TABLE [dbo].[CongNo] CHECK CONSTRAINT [FK_CongNo_SV]
GO
ALTER TABLE [dbo].[CTDT]  WITH CHECK ADD  CONSTRAINT [FK_CTDT_KTS] FOREIGN KEY([MaKhoaTS])
REFERENCES [dbo].[KhoaTuyenSinh] ([MaKhoaTS])
GO
ALTER TABLE [dbo].[CTDT] CHECK CONSTRAINT [FK_CTDT_KTS]
GO
ALTER TABLE [dbo].[CTDT]  WITH CHECK ADD  CONSTRAINT [FK_CTDT_Nganh] FOREIGN KEY([MaNganh])
REFERENCES [dbo].[Nganh] ([MaNganh])
GO
ALTER TABLE [dbo].[CTDT] CHECK CONSTRAINT [FK_CTDT_Nganh]
GO
ALTER TABLE [dbo].[CTDT_ChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_CTDTC_CTDT] FOREIGN KEY([MaCTDT])
REFERENCES [dbo].[CTDT] ([MaCTDT])
GO
ALTER TABLE [dbo].[CTDT_ChiTiet] CHECK CONSTRAINT [FK_CTDTC_CTDT]
GO
ALTER TABLE [dbo].[CTDT_ChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_CTDTC_HP] FOREIGN KEY([MaHP])
REFERENCES [dbo].[HocPhan] ([MaHP])
GO
ALTER TABLE [dbo].[CTDT_ChiTiet] CHECK CONSTRAINT [FK_CTDTC_HP]
GO
ALTER TABLE [dbo].[DangKyHocPhan]  WITH CHECK ADD  CONSTRAINT [FK_DKHP_LHP] FOREIGN KEY([MaLHP])
REFERENCES [dbo].[LopHocPhan] ([MaLHP])
GO
ALTER TABLE [dbo].[DangKyHocPhan] CHECK CONSTRAINT [FK_DKHP_LHP]
GO
ALTER TABLE [dbo].[DangKyHocPhan]  WITH CHECK ADD  CONSTRAINT [FK_DKHP_SV] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhVien] ([MaSV])
GO
ALTER TABLE [dbo].[DangKyHocPhan] CHECK CONSTRAINT [FK_DKHP_SV]
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [FK_Diem_LHP] FOREIGN KEY([MaLHP])
REFERENCES [dbo].[LopHocPhan] ([MaLHP])
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [FK_Diem_LHP]
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [FK_Diem_SV] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhVien] ([MaSV])
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [FK_Diem_SV]
GO
ALTER TABLE [dbo].[DieuKienTotNghiep]  WITH CHECK ADD  CONSTRAINT [FK_DKTN_KTS] FOREIGN KEY([MaKhoaTS])
REFERENCES [dbo].[KhoaTuyenSinh] ([MaKhoaTS])
GO
ALTER TABLE [dbo].[DieuKienTotNghiep] CHECK CONSTRAINT [FK_DKTN_KTS]
GO
ALTER TABLE [dbo].[DieuKienTotNghiep]  WITH CHECK ADD  CONSTRAINT [FK_DKTN_Nganh] FOREIGN KEY([MaNganh])
REFERENCES [dbo].[Nganh] ([MaNganh])
GO
ALTER TABLE [dbo].[DieuKienTotNghiep] CHECK CONSTRAINT [FK_DKTN_Nganh]
GO
ALTER TABLE [dbo].[GiangVien]  WITH CHECK ADD  CONSTRAINT [FK_GiangVien_Khoa] FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[Khoa] ([MaKhoa])
GO
ALTER TABLE [dbo].[GiangVien] CHECK CONSTRAINT [FK_GiangVien_Khoa]
GO
ALTER TABLE [dbo].[HocKy]  WITH CHECK ADD  CONSTRAINT [FK_HocKy_NamHoc] FOREIGN KEY([MaNam])
REFERENCES [dbo].[NamHoc] ([MaNam])
GO
ALTER TABLE [dbo].[HocKy] CHECK CONSTRAINT [FK_HocKy_NamHoc]
GO
ALTER TABLE [dbo].[HocPhiCatalog]  WITH CHECK ADD  CONSTRAINT [FK_HocPhi_HK] FOREIGN KEY([MaHK])
REFERENCES [dbo].[HocKy] ([MaHK])
GO
ALTER TABLE [dbo].[HocPhiCatalog] CHECK CONSTRAINT [FK_HocPhi_HK]
GO
ALTER TABLE [dbo].[HocPhiCatalog]  WITH CHECK ADD  CONSTRAINT [FK_HocPhi_Nganh] FOREIGN KEY([MaNganh])
REFERENCES [dbo].[Nganh] ([MaNganh])
GO
ALTER TABLE [dbo].[HocPhiCatalog] CHECK CONSTRAINT [FK_HocPhi_Nganh]
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD  CONSTRAINT [FK_LHP_CA] FOREIGN KEY([MaCa])
REFERENCES [dbo].[CaHoc] ([MaCa])
GO
ALTER TABLE [dbo].[LopHocPhan] CHECK CONSTRAINT [FK_LHP_CA]
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD  CONSTRAINT [FK_LHP_GV] FOREIGN KEY([MaGV])
REFERENCES [dbo].[GiangVien] ([MaGV])
GO
ALTER TABLE [dbo].[LopHocPhan] CHECK CONSTRAINT [FK_LHP_GV]
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD  CONSTRAINT [FK_LHP_HK] FOREIGN KEY([MaHK])
REFERENCES [dbo].[HocKy] ([MaHK])
GO
ALTER TABLE [dbo].[LopHocPhan] CHECK CONSTRAINT [FK_LHP_HK]
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD  CONSTRAINT [FK_LHP_HP] FOREIGN KEY([MaHP])
REFERENCES [dbo].[HocPhan] ([MaHP])
GO
ALTER TABLE [dbo].[LopHocPhan] CHECK CONSTRAINT [FK_LHP_HP]
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD  CONSTRAINT [FK_LHP_NH] FOREIGN KEY([MaNam])
REFERENCES [dbo].[NamHoc] ([MaNam])
GO
ALTER TABLE [dbo].[LopHocPhan] CHECK CONSTRAINT [FK_LHP_NH]
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD  CONSTRAINT [FK_LHP_PH] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PhongHoc] ([MaPhong])
GO
ALTER TABLE [dbo].[LopHocPhan] CHECK CONSTRAINT [FK_LHP_PH]
GO
ALTER TABLE [dbo].[Nganh]  WITH CHECK ADD  CONSTRAINT [FK_Nganh_Khoa] FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[Khoa] ([MaKhoa])
GO
ALTER TABLE [dbo].[Nganh] CHECK CONSTRAINT [FK_Nganh_Khoa]
GO
ALTER TABLE [dbo].[NhatKyHoatDong]  WITH CHECK ADD  CONSTRAINT [FK_NhatKyHoatDong_TaiKhoan] FOREIGN KEY([TenDangNhap])
REFERENCES [dbo].[TaiKhoan] ([TenDangNhap])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NhatKyHoatDong] CHECK CONSTRAINT [FK_NhatKyHoatDong_TaiKhoan]
GO
ALTER TABLE [dbo].[PaymentLedger]  WITH CHECK ADD  CONSTRAINT [FK_Ledger_Payment] FOREIGN KEY([PaymentId])
REFERENCES [dbo].[PaymentTransaction] ([Id])
GO
ALTER TABLE [dbo].[PaymentLedger] CHECK CONSTRAINT [FK_Ledger_Payment]
GO
ALTER TABLE [dbo].[PaymentTransaction]  WITH CHECK ADD  CONSTRAINT [FK_Payment_HK] FOREIGN KEY([MaHK])
REFERENCES [dbo].[HocKy] ([MaHK])
GO
ALTER TABLE [dbo].[PaymentTransaction] CHECK CONSTRAINT [FK_Payment_HK]
GO
ALTER TABLE [dbo].[PaymentTransaction]  WITH CHECK ADD  CONSTRAINT [FK_Payment_SV] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhVien] ([MaSV])
GO
ALTER TABLE [dbo].[PaymentTransaction] CHECK CONSTRAINT [FK_Payment_SV]
GO
ALTER TABLE [dbo].[PhucKhao]  WITH CHECK ADD  CONSTRAINT [FK_PK_LHP] FOREIGN KEY([MaLHP])
REFERENCES [dbo].[LopHocPhan] ([MaLHP])
GO
ALTER TABLE [dbo].[PhucKhao] CHECK CONSTRAINT [FK_PK_LHP]
GO
ALTER TABLE [dbo].[PhucKhao]  WITH CHECK ADD  CONSTRAINT [FK_PK_SV] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhVien] ([MaSV])
GO
ALTER TABLE [dbo].[PhucKhao] CHECK CONSTRAINT [FK_PK_SV]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien_KTS] FOREIGN KEY([MaKhoaTS])
REFERENCES [dbo].[KhoaTuyenSinh] ([MaKhoaTS])
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK_SinhVien_KTS]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien_Nganh] FOREIGN KEY([MaNganh])
REFERENCES [dbo].[Nganh] ([MaNganh])
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK_SinhVien_Nganh]
GO
ALTER TABLE [dbo].[SinhVien_TrangThai]  WITH CHECK ADD  CONSTRAINT [FK_SVTrangThai_SV] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhVien] ([MaSV])
GO
ALTER TABLE [dbo].[SinhVien_TrangThai] CHECK CONSTRAINT [FK_SVTrangThai_SV]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TK_GV] FOREIGN KEY([MaGV])
REFERENCES [dbo].[GiangVien] ([MaGV])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TK_GV]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TK_SV] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhVien] ([MaSV])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TK_SV]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TK_VaiTro] FOREIGN KEY([MaVaiTro])
REFERENCES [dbo].[VaiTro] ([MaVaiTro])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TK_VaiTro]
GO
ALTER TABLE [dbo].[ThongBao_NguoiNhan]  WITH CHECK ADD  CONSTRAINT [FK_TBNN_TB] FOREIGN KEY([IdThongBao])
REFERENCES [dbo].[ThongBao] ([Id])
GO
ALTER TABLE [dbo].[ThongBao_NguoiNhan] CHECK CONSTRAINT [FK_TBNN_TB]
GO
ALTER TABLE [dbo].[ThongBao_NguoiNhan]  WITH CHECK ADD  CONSTRAINT [FK_TBNN_TK] FOREIGN KEY([TenDangNhap])
REFERENCES [dbo].[TaiKhoan] ([TenDangNhap])
GO
ALTER TABLE [dbo].[ThongBao_NguoiNhan] CHECK CONSTRAINT [FK_TBNN_TK]
GO
ALTER TABLE [dbo].[TienQuyet]  WITH CHECK ADD  CONSTRAINT [FK_TQ_HP] FOREIGN KEY([MaHP])
REFERENCES [dbo].[HocPhan] ([MaHP])
GO
ALTER TABLE [dbo].[TienQuyet] CHECK CONSTRAINT [FK_TQ_HP]
GO
ALTER TABLE [dbo].[TienQuyet]  WITH CHECK ADD  CONSTRAINT [FK_TQ_HP_TQ] FOREIGN KEY([MaHP_TienQuyet])
REFERENCES [dbo].[HocPhan] ([MaHP])
GO
ALTER TABLE [dbo].[TienQuyet] CHECK CONSTRAINT [FK_TQ_HP_TQ]
GO
ALTER TABLE [dbo].[VaiTro_Quyen]  WITH CHECK ADD  CONSTRAINT [FK_VTQ_Quyen] FOREIGN KEY([MaQuyen])
REFERENCES [dbo].[Quyen] ([MaQuyen])
GO
ALTER TABLE [dbo].[VaiTro_Quyen] CHECK CONSTRAINT [FK_VTQ_Quyen]
GO
ALTER TABLE [dbo].[VaiTro_Quyen]  WITH CHECK ADD  CONSTRAINT [FK_VTQ_VaiTro] FOREIGN KEY([MaVaiTro])
REFERENCES [dbo].[VaiTro] ([MaVaiTro])
GO
ALTER TABLE [dbo].[VaiTro_Quyen] CHECK CONSTRAINT [FK_VTQ_VaiTro]
GO
ALTER TABLE [dbo].[XetTotNghiep]  WITH CHECK ADD  CONSTRAINT [FK_XTN_SV] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhVien] ([MaSV])
GO
ALTER TABLE [dbo].[XetTotNghiep] CHECK CONSTRAINT [FK_XTN_SV]
GO
ALTER TABLE [dbo].[YeuCauDacBiet]  WITH CHECK ADD  CONSTRAINT [FK_YCDB_LHP] FOREIGN KEY([MaLHP])
REFERENCES [dbo].[LopHocPhan] ([MaLHP])
GO
ALTER TABLE [dbo].[YeuCauDacBiet] CHECK CONSTRAINT [FK_YCDB_LHP]
GO
ALTER TABLE [dbo].[YeuCauDacBiet]  WITH CHECK ADD  CONSTRAINT [FK_YCDB_SV] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhVien] ([MaSV])
GO
ALTER TABLE [dbo].[YeuCauDacBiet] CHECK CONSTRAINT [FK_YCDB_SV]
GO
ALTER TABLE [dbo].[CaHoc]  WITH CHECK ADD  CONSTRAINT [CK_CaHoc_Gio] CHECK  (([GioKetThuc]>[GioBatDau]))
GO
ALTER TABLE [dbo].[CaHoc] CHECK CONSTRAINT [CK_CaHoc_Gio]
GO
ALTER TABLE [dbo].[DangKyHocPhan]  WITH CHECK ADD  CONSTRAINT [CK_DangKy_TrangThai] CHECK  (([TrangThai]=N'Phê duyệt' OR [TrangThai]=N'Hủy' OR [TrangThai]=N'Đăng ký'))
GO
ALTER TABLE [dbo].[DangKyHocPhan] CHECK CONSTRAINT [CK_DangKy_TrangThai]
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [CK_Diem_DiemChu] CHECK  (([DiemChu] IS NULL OR ([DiemChu]=N'F' OR [DiemChu]=N'D' OR [DiemChu]=N'D+' OR [DiemChu]=N'C' OR [DiemChu]=N'C+' OR [DiemChu]=N'B' OR [DiemChu]=N'B+' OR [DiemChu]=N'A' OR [DiemChu]=N'A+')))
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [CK_Diem_DiemChu]
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [CK_Diem_DiemCK] CHECK  (([DiemCK] IS NULL OR [DiemCK]>=(0) AND [DiemCK]<=(10)))
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [CK_Diem_DiemCK]
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [CK_Diem_DiemGK] CHECK  (([DiemGK] IS NULL OR [DiemGK]>=(0) AND [DiemGK]<=(10)))
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [CK_Diem_DiemGK]
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [CK_Diem_DiemHe4] CHECK  (([DiemHe4] IS NULL OR [DiemHe4]>=(0) AND [DiemHe4]<=(4)))
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [CK_Diem_DiemHe4]
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [CK_Diem_DiemQT] CHECK  (([DiemQT] IS NULL OR [DiemQT]>=(0) AND [DiemQT]<=(10)))
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [CK_Diem_DiemQT]
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [CK_Diem_DiemTK] CHECK  (([DiemTK] IS NULL OR [DiemTK]>=(0) AND [DiemTK]<=(10)))
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [CK_Diem_DiemTK]
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [CK_Diem_KetQua] CHECK  (([KetQua]=N'Không đạt' OR [KetQua]=N'Đạt'))
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [CK_Diem_KetQua]
GO
ALTER TABLE [dbo].[DieuKienTotNghiep]  WITH CHECK ADD  CONSTRAINT [CK_DieuKienTN_DiemTB] CHECK  (([DiemTBTichLuyToiThieu]>=(0) AND [DiemTBTichLuyToiThieu]<=(4)))
GO
ALTER TABLE [dbo].[DieuKienTotNghiep] CHECK CONSTRAINT [CK_DieuKienTN_DiemTB]
GO
ALTER TABLE [dbo].[DieuKienTotNghiep]  WITH CHECK ADD  CONSTRAINT [CK_DieuKienTN_TinChi] CHECK  (([SoTinChiToiThieu]>(0)))
GO
ALTER TABLE [dbo].[DieuKienTotNghiep] CHECK CONSTRAINT [CK_DieuKienTN_TinChi]
GO
ALTER TABLE [dbo].[HocKy]  WITH CHECK ADD  CONSTRAINT [CK_HocKy_NgayBatDau] CHECK  (([NgayKetThuc]>[NgayBatDau]))
GO
ALTER TABLE [dbo].[HocKy] CHECK CONSTRAINT [CK_HocKy_NgayBatDau]
GO
ALTER TABLE [dbo].[HocKy]  WITH CHECK ADD  CONSTRAINT [CK_HocKy_NgayDangKy] CHECK  (([NgayBatDauDangKy] IS NULL OR [NgayKetThucDangKy] IS NULL OR [NgayKetThucDangKy]>=[NgayBatDauDangKy]))
GO
ALTER TABLE [dbo].[HocKy] CHECK CONSTRAINT [CK_HocKy_NgayDangKy]
GO
ALTER TABLE [dbo].[HocPhan]  WITH CHECK ADD  CONSTRAINT [CK_HocPhan_SoTinChi] CHECK  (([SoTinChi]>(0)))
GO
ALTER TABLE [dbo].[HocPhan] CHECK CONSTRAINT [CK_HocPhan_SoTinChi]
GO
ALTER TABLE [dbo].[HocPhiCatalog]  WITH CHECK ADD  CONSTRAINT [CK_HocPhi_HieuLuc] CHECK  (([HieuLucDen] IS NULL OR [HieuLucDen]>=[HieuLucTu]))
GO
ALTER TABLE [dbo].[HocPhiCatalog] CHECK CONSTRAINT [CK_HocPhi_HieuLuc]
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD  CONSTRAINT [CK_LHP_SiSo] CHECK  (([SiSoToiDa]>(0)))
GO
ALTER TABLE [dbo].[LopHocPhan] CHECK CONSTRAINT [CK_LHP_SiSo]
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD  CONSTRAINT [CK_LHP_ThuTrongTuan] CHECK  (([ThuTrongTuan]>=(2) AND [ThuTrongTuan]<=(7)))
GO
ALTER TABLE [dbo].[LopHocPhan] CHECK CONSTRAINT [CK_LHP_ThuTrongTuan]
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD  CONSTRAINT [CK_LopHocPhan_Ngay] CHECK  (([NgayBatDau] IS NULL OR [NgayKetThuc] IS NULL OR [NgayKetThuc]>=[NgayBatDau]))
GO
ALTER TABLE [dbo].[LopHocPhan] CHECK CONSTRAINT [CK_LopHocPhan_Ngay]
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD  CONSTRAINT [CK_LopHocPhan_SoBuoi] CHECK  (([SoBuoiTrongTuan]=(2) OR [SoBuoiTrongTuan]=(1)))
GO
ALTER TABLE [dbo].[LopHocPhan] CHECK CONSTRAINT [CK_LopHocPhan_SoBuoi]
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD  CONSTRAINT [CK_LopHocPhan_TrangThai] CHECK  (([TrangThaiLop]=N'Hủy' OR [TrangThaiLop]=N'Kết thúc' OR [TrangThaiLop]=N'Đang học' OR [TrangThaiLop]=N'Sắp khai giảng'))
GO
ALTER TABLE [dbo].[LopHocPhan] CHECK CONSTRAINT [CK_LopHocPhan_TrangThai]
GO
ALTER TABLE [dbo].[NamHoc]  WITH CHECK ADD  CONSTRAINT [CK_NamHoc] CHECK  (([NamKetThuc]=([NamBatDau]+(1))))
GO
ALTER TABLE [dbo].[NamHoc] CHECK CONSTRAINT [CK_NamHoc]
GO
ALTER TABLE [dbo].[PaymentLedger]  WITH CHECK ADD  CONSTRAINT [CK_PaymentLedger_Type] CHECK  (([Type]=N'Adjustment' OR [Type]=N'Refund' OR [Type]=N'Debit' OR [Type]=N'Credit'))
GO
ALTER TABLE [dbo].[PaymentLedger] CHECK CONSTRAINT [CK_PaymentLedger_Type]
GO
ALTER TABLE [dbo].[PaymentTransaction]  WITH CHECK ADD  CONSTRAINT [CK_Payment_Status] CHECK  (([Status]=N'Canceled' OR [Status]=N'Failed' OR [Status]=N'Succeeded' OR [Status]=N'Pending'))
GO
ALTER TABLE [dbo].[PaymentTransaction] CHECK CONSTRAINT [CK_Payment_Status]
GO
ALTER TABLE [dbo].[PhongHoc]  WITH CHECK ADD  CONSTRAINT [CK_PhongHoc_SucChua] CHECK  (([SucChua]>(0)))
GO
ALTER TABLE [dbo].[PhongHoc] CHECK CONSTRAINT [CK_PhongHoc_SucChua]
GO
ALTER TABLE [dbo].[PhucKhao]  WITH CHECK ADD  CONSTRAINT [CK_PhucKhao_TrangThai] CHECK  (([TrangThai]=N'Tá»« chá»‘i' OR [TrangThai]=N'ÄÃ£ xá»­ lÃ½' OR [TrangThai]=N'Chá» xá»­ lÃ½'))
GO
ALTER TABLE [dbo].[PhucKhao] CHECK CONSTRAINT [CK_PhucKhao_TrangThai]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [CK_SinhVien_GioiTinh] CHECK  (([GioiTinh] IS NULL OR ([GioiTinh]=N'Nam' OR [GioiTinh]=N'Nữ' OR [GioiTinh]=N'Khác')))
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [CK_SinhVien_GioiTinh]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [CK_SinhVien_TrangThai] CHECK  (([TrangThai]=N'Đợi' OR [TrangThai]=N'Bảo lưu' OR [TrangThai]=N'Đang học' OR [TrangThai]=N'Tốt nghiệp'))
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [CK_SinhVien_TrangThai]
GO
ALTER TABLE [dbo].[XetTotNghiep]  WITH CHECK ADD  CONSTRAINT [CK_XetTotNghiep_KetQua] CHECK  (([KetQua]=N'ChÆ°a Ä‘á»§ Ä‘iá»u kiá»‡n' OR [KetQua]=N'Äá»§ Ä‘iá»u kiá»‡n'))
GO
ALTER TABLE [dbo].[XetTotNghiep] CHECK CONSTRAINT [CK_XetTotNghiep_KetQua]
GO
ALTER TABLE [dbo].[YeuCauDacBiet]  WITH CHECK ADD  CONSTRAINT [CK_YeuCau_LoaiYeuCau] CHECK  (([LoaiYeuCau]=N'Miá»…n giáº£m há»c phÃ­' OR [LoaiYeuCau]=N'Há»c láº¡i' OR [LoaiYeuCau]=N'RÃºt mÃ´n' OR [LoaiYeuCau]=N'Há»c vÆ°á»£t'))
GO
ALTER TABLE [dbo].[YeuCauDacBiet] CHECK CONSTRAINT [CK_YeuCau_LoaiYeuCau]
GO
ALTER TABLE [dbo].[YeuCauDacBiet]  WITH CHECK ADD  CONSTRAINT [CK_YeuCau_TrangThai] CHECK  (([TrangThai]=N'Tá»« chá»‘i' OR [TrangThai]=N'ÄÃ£ duyá»‡t' OR [TrangThai]=N'Chá» duyá»‡t'))
GO
ALTER TABLE [dbo].[YeuCauDacBiet] CHECK CONSTRAINT [CK_YeuCau_TrangThai]
GO
