
CREATE PROCEDURE sp_Payment_RecalcDebt
    @MaSV NVARCHAR(10),
    @MaHK NVARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @MaNganh NVARCHAR(10);
    SELECT @MaNganh = MaNganh FROM SinhVien WHERE MaSV = @MaSV;

    IF @MaNganh IS NULL
    BEGIN
     

(1 rows affected)
