CREATE PROCEDURE sp_ThemSinhVien
    @MaSV NVARCHAR(10),
    @HoTen NVARCHAR(100),
    @NgaySinh DATE,
    @MaNganh NVARCHAR(10),
    @MaKhoaTS NVARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY
        IF EXISTS (SEL

(1 rows affected)
