CREATE PROCEDURE sp_Lecturer_GetClasses
    @MaGV NVARCHAR(10),
    @NamHoc INT = NULL,
    @HocKy INT = NULL
AS
BEGIN
    SELECT 
        lhp.MaLHP,
        hp.TenHP,
        hp.SoTinChi,
        lhp.SiSoToiDa,
        (SELECT COUNT(*) FROM Dan

(1 rows affected)
