
CREATE PROCEDURE sp_GetEnrollmentStatus
    @MaSV NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT
        dk.Id,
        dk.MaSV,
        dk.MaLHP,
        lhp.MaHP,
        hp.TenHP,
        hp.SoTinChi,
        lhp.MaGV,
       

(1 rows affected)
