
CREATE PROCEDURE sp_LayThongTinTaiKhoan
    @TenDangNhap NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Thông tin tài khoản
    SELECT 
        TenDangNhap,
        MaVaiTro,
        CASE WHEN TrangThai = 1 THEN N'Hoạt động' ELSE N'Khóa'

(1 rows affected)
