
CREATE PROCEDURE sp_LayKetQuaDangKy
    @MaSV NVARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        dk.MaLHP,
        hp.TenHP,
        hp.SoTinChi,
        lhp.ThuTrongTuan,
        lhp.MaCa,
        lhp.MaPhong,
        dk.TrangThai,
        dk.

(1 rows affected)
