CREATE PROCEDURE sp_XemBangDiemSinhVien
    @MaSV NVARCHAR(10)
AS
BEGIN
    SELECT 
        hk.TenHK,
        lhp.MaLHP,
        hp.TenHP,
        hp.SoTinChi,
        d.DiemQT,
        d.DiemGK,
        d.DiemCK,
        d.DiemTK,
        d.D

(1 rows affected)
