CREATE PROCEDURE sp_Admissions_GetRequirement
    @MaNganh NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP 1 MaNganh, Mon1, Mon2, Mon3, HeSo1, HeSo2, HeSo3, DiemChuan, HieuLucTu, HieuLucDen
    FROM AdmissionRequirements
    WHERE MaNganh = @MaNg

(1 rows affected)
