
CREATE PROCEDURE sp_GetStudentInfo
    @MaSV NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT
        sv.MaSV,
        sv.HoTen,
        sv.NgaySinh,
        sv.GioiTinh,
        sv.DiaChi,
        sv.Email,
        sv.DienThoai,
 

(1 rows affected)
