CREATE PROCEDURE sp_Admin_AddChiTietCTDT
    @MaCTDT INT,
    @MaHP NVARCHAR(10),
    @HocKyDuKien INT,
    @BatBuoc BIT,
    @NhomTuChon NVARCHAR(50) = NULL
AS
BEGIN
    IF EXISTS (SELECT 1 FROM CTDT_ChiTiet WHERE MaCTDT = @MaCTDT AND MaHP = @MaHP

(1 rows affected)
