
CREATE PROCEDURE sp_Payment_GetDebt
    @MaSV NVARCHAR(10),
    @MaHK NVARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;

    -- Ensure latest debt
    EXEC sp_Payment_RecalcDebt @MaSV = @MaSV, @MaHK = @MaHK;

    SELECT 
        cn.MaSV, 
        cn.MaHK, 
      

(1 rows affected)
