CREATE PROCEDURE sp_UpdateSinhVienProfile
    @MaSV NVARCHAR(20),
    @Email NVARCHAR(100) = NULL,
    @DienThoai NVARCHAR(20) = NULL,
    @DiaChi NVARCHAR(200) = NULL,
    @NgaySinh DATE = NULL,
    @GioiTinh NVARCHAR(10) = NULL
AS
BEGIN
    SET 

(1 rows affected)
