
CREATE PROCEDURE sp_Student_GetGrades
    @MaSV NVARCHAR(10)
AS
BEGIN
    SELECT 
        lhp.MaHK AS TenHK, -- Or join with HocKy table if needed, for now using Code
        lhp.MaLHP,
        hp.TenHP,
        hp.SoTinChi,
        d.DiemQT,
 

(1 rows affected)
