CREATE PROCEDURE sp_Admin_GetCTDTDetail
    @MaCTDT INT
AS
BEGIN
    -- Get Info
    SELECT c.*, n.TenNganh, k.TenKhoaTS
    FROM CTDT c
    JOIN Nganh n ON c.MaNganh = n.MaNganh
    JOIN KhoaTuyenSinh k ON c.MaKhoaTS = k.MaKhoaTS
    WHERE c.MaCT

(1 rows affected)
