
-- Chỉ sửa encoding/chuỗi tiếng Việt cho các SP liên quan đăng ký học phần

CREATE PROCEDURE sp_SinhVienDangKyHocPhan
    @MaSV NVARCHAR(10),
    @MaLHP NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @MaHP NVARCHAR(10);
    DECLARE @MaHK NVARCHAR(

(1 rows affected)
