CREATE PROCEDURE sp_GetUsers
    @Keyword NVARCHAR(50) = NULL,
    @Role NVARCHAR(20) = NULL,
    @PageNumber INT = 1,
    @PageSize INT = 20
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;

    SELECT 
    

(1 rows affected)
