CREATE PROCEDURE sp_LayDanhSachLopMo
    @MaNam NVARCHAR(10) = NULL,
    @MaHK NVARCHAR(10) = NULL
AS
BEGIN
    SELECT 
        lhp.MaLHP,
        lhp.MaHP, hp.TenHP, hp.SoTinChi,
        lhp.SiSoToiDa,
        (SELECT COUNT(*) FROM DangKyHocPhan 

(1 rows affected)
