
CREATE PROCEDURE sp_CheckTienQuyet
    @MaSV NVARCHAR(20),
    @MaLHP NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @MaHP NVARCHAR(10);
    SELECT @MaHP = MaHP FROM LopHocPhan WHERE MaLHP = @MaLHP;

    IF @MaHP IS NULL
    BEGIN
        SELECT 0

(1 rows affected)
