
CREATE PROCEDURE dbo.sp_GetAuditLogs
    @Keyword    NVARCHAR(200) = NULL,
    @FromDate   DATETIME      = NULL,
    @ToDate     DATETIME      = NULL,
    @Action     NVARCHAR(50)  = NULL,
    @Status     NVARCHAR(50)  = NULL,
    @Module     NVARCHAR(100

(1 rows affected)
