CREATE PROCEDURE sp_Admissions_Create
    @FullName NVARCHAR(200),
    @Email NVARCHAR(200) = NULL,
    @Phone NVARCHAR(50) = NULL,
    @CCCD NVARCHAR(50) = NULL,
    @NgaySinh DATE = NULL,
    @DiaChi NVARCHAR(300) = NULL,
    @MaNam NVARCHAR(20) = NULL,


(1 rows affected)
