CREATE PROCEDURE sp_DoiMatKhau
    @TenDangNhap NVARCHAR(50),
    @MatKhauCuHash VARBINARY(256),
    @MatKhauMoiHash VARBINARY(256)
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Verify old password
    IF NOT EXISTS (SELECT 1 FROM TaiKhoan WHERE TenDan

(1 rows affected)
