CREATE PROCEDURE sp_LayDanhSachGiangVien_ByKhoa
    @MaKhoa NVARCHAR(10) = NULL
AS
BEGIN
    -- If MaKhoa is NULL, should we return all? Or empty? 
    -- User wants filtering, but "All" might be useful if no faculty selected. 
    -- However, reques

(1 rows affected)
