CREATE PROCEDURE sp_LayDanhSachCaHoc
AS
BEGIN
    SELECT 
        MaCa AS Ma, 
        MoTa + N' (' + CONVERT(VARCHAR(5), GioBatDau, 108) + N' - ' + CONVERT(VARCHAR(5), GioKetThuc, 108) + N')' AS Ten 
    FROM CaHoc;
END;


(1 rows affected)
