CREATE PROCEDURE sp_Admin_AddTienQuyet
    @MaHP NVARCHAR(10),
    @MaHP_TienQuyet NVARCHAR(10)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM TienQuyet WHERE MaHP = @MaHP AND MaHP_TienQuyet = @MaHP_TienQuyet)
        RETURN;

    INSERT INTO TienQuyet (MaH

(1 rows affected)
