CREATE PROCEDURE sp_CreateUserAccount
    @TenDangNhap NVARCHAR(50),
    @MatKhauHash VARBINARY(256),
    @MaVaiTro NVARCHAR(20),
    @HoTen NVARCHAR(100),
    @Email NVARCHAR(100) = NULL,
    @DienThoai NVARCHAR(20) = NULL,
    @NgaySinh DATE = NUL

(1 rows affected)
