CREATE PROCEDURE sp_UpdateUserRole
    @TenDangNhap NVARCHAR(50),
    @NewRole NVARCHAR(20),
    @PerformedBy NVARCHAR(50),
    @IPAddress NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @OldRole NVARCHAR(20);
    SELECT @OldRole = MaVaiTro 

(1 rows affected)
