CREATE PROCEDURE sp_LayDanhSachHocKy AS BEGIN SELECT MaHK AS Ma, TenHK + N' (' + CAST(NgayBatDau AS NVARCHAR) + N' - ' + CAST(NgayKetThuc AS NVARCHAR) + N')' AS Ten FROM HocKy ORDER BY NgayBatDau DESC; END;

(1 rows affected)
