CREATE PROCEDURE sp_TaoTaiKhoanGiangVien
    @MaGV NVARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        DECLARE @DummyHash VARBINARY(256) = CAST('123456' AS VARBINARY(256)); 

        IF NOT EXISTS (SELECT 1 FROM TaiKhoan WHERE TenDangNh

(1 rows affected)
