CREATE PROCEDURE sp_LayThongTinGiangVien
    @MaGV NVARCHAR(10)
AS
BEGIN
    SELECT 
        gv.MaGV,
        gv.HoTen,
        gv.Email,
        gv.DienThoai,
        gv.MaKhoa,
        k.TenKhoa
    FROM GiangVien gv
    JOIN Khoa k ON gv.MaK

(1 rows affected)
