
CREATE PROCEDURE sp_DangXuat
    @TenDangNhap NVARCHAR(50),
    @DiaChiIP NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET QUOTED_IDENTIFIER ON;
    
    BEGIN TRANSACTION;
    BEGIN TRY
        -- 1. Ghi nhật ký đăng xuất
        INSE

(1 rows affected)
