CREATE PROCEDURE sp_Admissions_UpdateStatus
    @Id INT,
    @TrangThai NVARCHAR(50),
    @GhiChu NVARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Admissions
    SET TrangThai = @TrangThai,
        GhiChu = COALESCE(@GhiChu, GhiChu),
        Ng

(1 rows affected)
