
CREATE PROCEDURE sp_GetClassManagement
    @MaHK NVARCHAR(20) = NULL,
    @MaNam NVARCHAR(20) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT
        lhp.MaLHP,
        lhp.MaHP,
        hp.TenHP,
        hp.SoTinChi,
        lhp.MaGV,
 

(1 rows affected)
