
CREATE PROCEDURE dbo.sp_LayDanhSachLopHocPhan_Admin
    @MaNam NVARCHAR(10) = NULL,
    @MaHK NVARCHAR(10) = NULL,
    @PageNumber INT = 1,
    @PageSize INT = 20
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;

    S

(1 rows affected)
