
CREATE PROCEDURE sp_DangNhapThatBai
    @TenDangNhap NVARCHAR(50),
    @LyDo NVARCHAR(100) = N'Sai mật khẩu',
    @DiaChiIP NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET QUOTED_IDENTIFIER ON;
    
    BEGIN TRANSACTION;
    BEGIN TRY

(1 rows affected)
