
-- SP Login - Returns FirstLogin flag
CREATE PROCEDURE sp_KiemTraDangNhap
    @TenDangNhap NVARCHAR(50)
AS
BEGIN
    SELECT 
        tk.TenDangNhap, 
        tk.MatKhauHash, 
        tk.MaVaiTro, 
        tk.MaSV, 
        tk.MaGV,
        sv.

(1 rows affected)
