CREATE PROCEDURE sp_GetUserDetail
    @TenDangNhap NVARCHAR(50)
AS
BEGIN
    SELECT 
        tk.*,
        sv.HoTen AS HoTenSV, sv.NgaySinh, sv.Email AS EmailSV,
        gv.HoTen AS HoTenGV, gv.Email AS EmailGV
    FROM TaiKhoan tk
    LEFT JOIN S

(1 rows affected)
