
CREATE PROCEDURE sp_GetLecturerClasses
    @MaGV NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT
        lhp.MaLHP,
        lhp.MaHP,
        hp.TenHP,
        hp.SoTinChi,
        lhp.MaPhong,
        lhp.ThuTrongTuan,
        lhp.SoBuoiTrongTu

(1 rows affected)
