CREATE PROCEDURE sp_NhapDiemSinhVien
    @MaSV NVARCHAR(10),
    @MaLHP NVARCHAR(20),
    @DiemQT DECIMAL(4,2),
    @DiemGK DECIMAL(4,2),
    @DiemCK DECIMAL(4,2)
AS
BEGIN
    DECLARE @DiemTK DECIMAL(4,2);
    SET @DiemTK = (@DiemQT * 0.1) + (@Die

(1 rows affected)
