CREATE PROCEDURE sp_XetTotNghiep_NganhKhoa
    @MaNganh NVARCHAR(10),
    @MaKhoaTS NVARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Láº¥y tiÃªu chuáº©n xÃ©t
    DECLARE @TinChiMin INT;
    DECLARE @GPA_Min DECIMAL(3,2);
    
    SELECT @Ti

(1 rows affected)
