CREATE PROCEDURE sp_XoaLopHocPhan
    @MaLHP NVARCHAR(20)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM DangKyHocPhan WHERE MaLHP = @MaLHP)
    BEGIN
        RAISERROR(N'Không thể xóa lớp học phần đã có sinh viên đăng ký.', 16, 1);
        RETURN;
    END


(1 rows affected)
