CREATE PROCEDURE sp_LayDanhSachSV_CuaLHP
    @MaLHP NVARCHAR(20)
AS
BEGIN
    SELECT 
        dk.MaSV,
        sv.HoTen,
        sv.LopHanhChinh,
        d.DiemQT,
        d.DiemGK,
        d.DiemCK,
        d.DiemTK,
        d.KetQua
    FROM

(1 rows affected)
