
CREATE PROCEDURE sp_GhiNhatKyHoatDong
    @TenDangNhap NVARCHAR(50),
    @LoaiHoatDong NVARCHAR(50),
    @MoDun NVARCHAR(100) = NULL,
    @MoTa NVARCHAR(255) = NULL,
    @DiaChiIP NVARCHAR(50) = NULL,
    @TrangThai NVARCHAR(50) = 'SUCCESS'
AS
BE

(1 rows affected)
