CREATE PROCEDURE sp_LayDanhSachKhoaTuyenSinh
AS
BEGIN
    SELECT 
        MaKhoaTS AS Ma, 
        TenKhoaTS AS Ten 
    FROM KhoaTuyenSinh
    ORDER BY NamBatDau DESC;
END;


(1 rows affected)
