CREATE PROCEDURE sp_LayDanhSachPhucKhao_SinhVien
    @MaSV NVARCHAR(10)
AS
BEGIN
    SELECT 
        pk.Id,
        pk.MaLHP,
        hp.TenHP,
        pk.LyDo,
        pk.TrangThai,
        pk.NgayGui,
        pk.GhiChuXuLy
    FROM PhucKhao p

(1 rows affected)
