CREATE PROCEDURE sp_TaoYeuCauPhucKhao
    @MaSV NVARCHAR(10),
    @MaLHP NVARCHAR(20),
    @LyDo NVARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. Check Registration
    IF NOT EXISTS (SELECT 1 FROM DangKyHocPhan WHERE MaSV = @MaSV AND MaLHP =

(1 rows affected)
