CREATE PROCEDURE sp_Admissions_List
    @MaHK NVARCHAR(20) = NULL,
    @MaNganh NVARCHAR(50) = NULL,
    @TrangThai NVARCHAR(50) = NULL,
    @PageNumber INT = 1,
    @PageSize INT = 20
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @Offset INT = (@PageNumber - 1

(1 rows affected)
