
CREATE PROCEDURE sp_DangNhapThanhCong
    @TenDangNhap NVARCHAR(50),
    @DiaChiIP NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET QUOTED_IDENTIFIER ON;
    
    BEGIN TRANSACTION;
    BEGIN TRY
        -- 1. Cập nhật TaiKhoan
       

(1 rows affected)
