CREATE PROCEDURE sp_Admissions_SaveScores
    @AdmissionId INT,
    @Mon1 NVARCHAR(50),
    @Diem1 DECIMAL(5,2),
    @Mon2 NVARCHAR(50),
    @Diem2 DECIMAL(5,2),
    @Mon3 NVARCHAR(50),
    @Diem3 DECIMAL(5,2),
    @GhiChu NVARCHAR(500) = NULL
AS
BEGIN
   

(1 rows affected)
