
CREATE PROCEDURE sp_UpdateClassStatus
    @MaLHP NVARCHAR(20),
    @TrangThaiLop NVARCHAR(50),
    @NgayBatDau DATE = NULL,
    @NgayKetThuc DATE = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        IF @TrangThaiLop NOT IN (N'Sắp khai giảng', N'

(1 rows affected)
