
CREATE PROCEDURE sp_SeedHocPhiDefaults
    @MaHK NVARCHAR(10) = 'HK1-2025',
    @DonGia DECIMAL(18,2) = 111111,
    @PhuPhi DECIMAL(18,2) = 100000,
    @GiamTru DECIMAL(5,2) = 0
AS
BEGIN
    SET NOCOUNT ON;

    -- Lấy tất cả ngành chưa có cấu hình cho Ma

(1 rows affected)
