
CREATE PROCEDURE sp_Payment_Confirm
    @PaymentId INT,
    @Status NVARCHAR(20), -- Succeeded / Failed / Canceled
    @ProviderTransId NVARCHAR(100) = NULL,
    @Note NVARCHAR(200) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @MaSV NVARCHAR(10);
    

(1 rows affected)
