CREATE PROCEDURE sp_Admin_GetCTDT
    @Keyword NVARCHAR(100) = NULL,
    @Page INT = 1,
    @PageSize INT = 20
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @Offset INT = (@Page - 1) * @PageSize;

    SELECT c.*, n.TenNganh, k.TenKhoaTS,
           CO

(1 rows affected)
