CREATE PROCEDURE sp_ThemLopHocPhan
    @MaLHP NVARCHAR(20),
    @MaHP NVARCHAR(10),
    @MaHK NVARCHAR(10),
    @MaNam NVARCHAR(10),
    @MaGV NVARCHAR(10),
    @MaPhong NVARCHAR(10),
    @MaCa NVARCHAR(10),
    @ThuTrongTuan TINYINT,
    @SiSoToiDa INT,
 

(1 rows affected)
