CREATE PROCEDURE sp_Student_GetMyCurriculum
    @MaSV NVARCHAR(20)
AS
BEGIN
    DECLARE @MaNganh NVARCHAR(20);
    DECLARE @MaKhoaTS NVARCHAR(20);

    SELECT @MaNganh = MaNganh, @MaKhoaTS = MaKhoaTS FROM SinhVien WHERE MaSV = @MaSV;

    -- Find 

(1 rows affected)
