
CREATE PROCEDURE sp_Payment_Init
    @MaSV NVARCHAR(10),
    @MaHK NVARCHAR(10),
    @Amount DECIMAL(18,2) = NULL, -- nếu null sẽ lấy từ công nợ
    @Method NVARCHAR(30),
    @Provider NVARCHAR(30) = NULL,
    @ProviderRef NVARCHAR(100) = NULL,
    @Retur

(1 rows affected)
