CREATE PROCEDURE sp_LayDanhSachNamHoc
AS
BEGIN
    ;WITH years AS (
        SELECT DISTINCT 
            MaNam AS Ma, 
            CAST(NamBatDau AS NVARCHAR) + N'-' + CAST(NamKetThuc AS NVARCHAR) AS Ten 
        FROM NamHoc
        WHERE MaNam LIK

(1 rows affected)
