CREATE PROCEDURE sp_Lecturer_UpdateGrade
    @MaLHP NVARCHAR(20),
    @MaSV NVARCHAR(10),
    @DiemCC DECIMAL(4,2),
    @DiemGK DECIMAL(4,2),
    @DiemCK DECIMAL(4,2),
    @PerformedBy NVARCHAR(50)
AS
BEGIN
    DECLARE @TrongSoCC DECIMAL(3,2), @Tr

(1 rows affected)
