
CREATE PROCEDURE sp_HuyDangKyHocPhan
    @MaSV NVARCHAR(10),
    @MaLHP NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @TrangThaiHienTai NVARCHAR(50);
    SELECT @TrangThaiHienTai = TrangThai FROM DangKyHocPhan WHERE MaSV = @MaSV AND MaLHP = @MaLH

(1 rows affected)
