CREATE PROCEDURE sp_GetSinhVienProfile
    @MaSV NVARCHAR(20)
AS
BEGIN
    SELECT sv.*, n.TenNganh, k.TenKhoa, kts.TenKhoaTS
    FROM SinhVien sv
    LEFT JOIN Nganh n ON sv.MaNganh = n.MaNganh
    LEFT JOIN Khoa k ON n.MaKhoa = k.MaKhoa
    LEFT J

(1 rows affected)
