CREATE PROCEDURE sp_Lecturer_GetClassGrades
    @MaLHP NVARCHAR(20)
AS
BEGIN
    SELECT 
        sv.MaSV,
        sv.HoTen,
        sv.LopHanhChinh AS Lop, -- Aliased for frontend consistency
        ISNULL(d.DiemQT, 0) AS DiemTC, -- Re-map CC/QT i

(1 rows affected)
