CREATE PROCEDURE sp_MoHocKy
    @MaHK NVARCHAR(10),
    @TenHK NVARCHAR(50),
    @MaNam NVARCHAR(10),
    @NgayBatDau DATE,
    @NgayKetThuc DATE
AS
BEGIN
    IF EXISTS (SELECT 1 FROM HocKy WHERE MaHK = @MaHK)
    BEGIN
        UPDATE HocKy 
   

(1 rows affected)
