CREATE PROCEDURE sp_Admissions_GetByCode
    @MaTraCuu NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT TOP 1 a.Id, a.FullName, a.Email, a.Phone, a.MaHK, a.MaNganh, a.TrangThai, a.NgayNop, a.NgayCapNhat, a.GhiChu,
                 sc.Mon1, sc.Mon2, sc.

(1 rows affected)
