
CREATE PROCEDURE sp_RegisterCourse
    @MaSV NVARCHAR(20),
    @MaLHP NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM SinhVien WHERE MaSV = @MaSV)
        BEGIN
            RAISERROR (N'Sinh viên không tồn

(1 rows affected)
