CREATE PROCEDURE sp_UpdateUserStatus
    @TenDangNhap NVARCHAR(50),
    @IsLocked BIT,
    @Reason NVARCHAR(200),
    @PerformedBy NVARCHAR(50),
    @IPAddress NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @OldStatus BIT;
    SELECT @OldS

(1 rows affected)
