CREATE PROCEDURE sp_LayDanhSachLopHocPhanMo
AS
BEGIN
    SELECT 
        lhp.MaLHP,
        hp.TenHP,
        hp.SoTinChi,
        lhp.SiSoToiDa,
        (SELECT COUNT(*) FROM DangKyHocPhan dk WHERE dk.MaLHP = lhp.MaLHP AND dk.TrangThai != N'Há»§y'

(1 rows affected)
