CREATE PROCEDURE sp_LayThongTinSinhVien
    @MaSV NVARCHAR(10)
AS
BEGIN
    SELECT 
        sv.MaSV,
        sv.HoTen,
        sv.NgaySinh,
        sv.GioiTinh,
        sv.Email,
        sv.DienThoai,
        sv.LopHanhChinh,
        sv.MaNganh

(1 rows affected)
