CREATE PROCEDURE sp_Admin_CreateCTDT
    @MaNganh NVARCHAR(10),
    @MaKhoaTS NVARCHAR(10),
    @TenCTDT NVARCHAR(200),
    @NamBanHanh INT,
    @TrangThai INT
AS
BEGIN
    INSERT INTO CTDT (MaNganh, MaKhoaTS, TenCTDT, NamBanHanh, TrangThai)
    V

(1 rows affected)
