CREATE PROCEDURE sp_TaoTaiKhoanSinhVien
    @MaSV NVARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        DECLARE @DummyHash VARBINARY(256) = CAST('123456' AS VARBINARY(256)); 

        IF NOT EXISTS (SELECT 1 FROM TaiKhoan WHERE TenDangNha

(1 rows affected)
