CREATE PROCEDURE sp_LayDanhSachPhongHoc
AS
BEGIN
    SELECT 
        MaPhong AS Ma, 
        TenPhong + N' (Sức chứa: ' + CAST(SucChua AS NVARCHAR) + N')' AS Ten 
    FROM PhongHoc;
END;


(1 rows affected)
