
CREATE PROCEDURE sp_LayNhatKyHoatDong
    @TenDangNhap NVARCHAR(50) = NULL,
    @LoaiHoatDong NVARCHAR(50) = NULL,
    @SoLuong INT = 100
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT TOP (@SoLuong)
        MaNhatKy,
        TenDangNhap,
      

(1 rows affected)
