CREATE PROCEDURE sp_LayDanhSachHocPhan
AS
BEGIN
    SELECT 
        MaHP AS Ma, 
        TenHP + N' (' + CAST(SoTinChi AS NVARCHAR) + N' TC)' AS Ten 
    FROM HocPhan
    ORDER BY TenHP;
END;


(1 rows affected)
