CREATE PROCEDURE sp_LayMonDuocPhucKhao
    @MaSV NVARCHAR(10)
AS
BEGIN
    -- Conditions:
    -- 1. Has Grade (Diem)
    -- 2. Within 7 days of NgayCapNhat
    -- 3. No Pending Appeal (Chá» xá»­ lÃ½)
    
    SELECT 
        d.MaLHP,
        hp

(1 rows affected)
