CREATE PROCEDURE sp_CheckTrungLich
    @MaNam NVARCHAR(10),
    @MaHK NVARCHAR(10),
    @Thu INT,
    @MaCa NVARCHAR(10),
    @MaPhong NVARCHAR(20) = NULL, -- Optional nếu chỉ check giảng viên
    @MaGV NVARCHAR(10) = NULL,    -- Optional nếu chỉ check phò

(1 rows affected)
