.grade-container {
    padding: 20px;
}

table {
    width: 100%;
    margin-top: 10px;
}

th.mat-header-cell {
    background-color: #f5f5f5;
    font-weight: bold;
    color: #333;
}

td.mat-cell {
    padding: 10px;
}