-- =============================================
-- DỮ LIỆU MẪU: TÀI KHOẢN & PHÂN QUYỀN
-- =============================================

USE EduProDb;
GO

SET QUOTED_IDENTIFIER ON;
GO

-- 1. VAI TRO (Roles)
IF NOT EXISTS (SELECT 1 FROM VaiTro WHERE MaVaiTro = 'ADMIN')
INSERT INTO
    VaiTro (MaVaiTro, TenVaiTro)
VALUES ('ADMIN', N'Quản trị hệ thống'),
    (
        'PHONGDAOTAO',
        N'Phòng Đào tạo'
    ),
    ('GIANGVIEN', N'Giảng viên'),
    ('SINHVIEN', N'Sinh viên'),
    (
        'BANGIAMHIEU',
        N'Ban Giám hiệu'
    );

-- 2. QUYEN (Permissions)
IF NOT EXISTS (SELECT 1 FROM Quyen WHERE MaQuyen = 'USER_VIEW')
INSERT INTO
    Quyen (MaQuyen, TenQuyen)
VALUES (
        'USER_VIEW',
        N'Xem danh sách người dùng'
    ),
    (
        'USER_CREATE',
        N'Tạo người dùng mới'
    ),
    (
        'USER_EDIT',
        N'Sửa thông tin người dùng'
    ),
    (
        'USER_DELETE',
        N'Xóa người dùng'
    ),
    (
        'STUDENT_VIEW',
        N'Xem danh sách sinh viên'
    ),
    (
        'STUDENT_MANAGE',
        N'Quản lý sinh viên'
    ),
    (
        'LECTURER_VIEW',
        N'Xem danh sách giảng viên'
    ),
    (
        'LECTURER_MANAGE',
        N'Quản lý giảng viên'
    ),
    (
        'COURSE_VIEW',
        N'Xem danh sách học phần'
    ),
    (
        'COURSE_MANAGE',
        N'Quản lý học phần'
    ),
    (
        'REGISTER_VIEW',
        N'Xem đăng ký học phần'
    ),
    (
        'REGISTER_MANAGE',
        N'Quản lý đăng ký học phần'
    ),
    (
        'REGISTER_STUDENT',
        N'Đăng ký học phần (sinh viên)'
    ),
    ('GRADE_VIEW', N'Xem điểm'),
    ('GRADE_INPUT', N'Nhập điểm'),
    ('GRADE_EDIT', N'Sửa điểm'),
    ('REPORT_VIEW', N'Xem báo cáo'),
    (
        'REPORT_EXPORT',
        N'Xuất báo cáo'
    ),
    (
        'CURRICULUM_MANAGE',
        N'Quản lý chương trình đào tạo'
    ),
    (
        'NOTIFICATION_SEND',
        N'Gửi thông báo'
    );

-- 3. VAI TRO - QUYEN (Role-Permission Mapping)
-- Admin - Full quyền
IF NOT EXISTS (SELECT 1 FROM VaiTro_Quyen WHERE MaVaiTro = 'ADMIN' AND MaQuyen = 'USER_VIEW')
INSERT INTO
    VaiTro_Quyen (MaVaiTro, MaQuyen)
SELECT 'ADMIN', MaQuyen
FROM Quyen;

-- Phòng Đào tạo
IF NOT EXISTS (SELECT 1 FROM VaiTro_Quyen WHERE MaVaiTro = 'PHONGDAOTAO' AND MaQuyen = 'STUDENT_VIEW')
INSERT INTO
    VaiTro_Quyen (MaVaiTro, MaQuyen)
VALUES ('PHONGDAOTAO', 'STUDENT_VIEW'),
    (
        'PHONGDAOTAO',
        'STUDENT_MANAGE'
    ),
    (
        'PHONGDAOTAO',
        'LECTURER_VIEW'
    ),
    (
        'PHONGDAOTAO',
        'LECTURER_MANAGE'
    ),
    ('PHONGDAOTAO', 'COURSE_VIEW'),
    (
        'PHONGDAOTAO',
        'COURSE_MANAGE'
    ),
    (
        'PHONGDAOTAO',
        'REGISTER_VIEW'
    ),
    (
        'PHONGDAOTAO',
        'REGISTER_MANAGE'
    ),
    ('PHONGDAOTAO', 'GRADE_VIEW'),
    (
        'PHONGDAOTAO',
        'CURRICULUM_MANAGE'
    ),
    (
        'PHONGDAOTAO',
        'NOTIFICATION_SEND'
    ),
    ('PHONGDAOTAO', 'REPORT_VIEW'),
    (
        'PHONGDAOTAO',
        'REPORT_EXPORT'
    );

-- Giảng viên
IF NOT EXISTS (SELECT 1 FROM VaiTro_Quyen WHERE MaVaiTro = 'GIANGVIEN' AND MaQuyen = 'STUDENT_VIEW')
INSERT INTO
    VaiTro_Quyen (MaVaiTro, MaQuyen)
VALUES ('GIANGVIEN', 'STUDENT_VIEW'),
    ('GIANGVIEN', 'COURSE_VIEW'),
    ('GIANGVIEN', 'GRADE_VIEW'),
    ('GIANGVIEN', 'GRADE_INPUT'),
    ('GIANGVIEN', 'REPORT_VIEW');

-- Sinh viên
IF NOT EXISTS (SELECT 1 FROM VaiTro_Quyen WHERE MaVaiTro = 'SINHVIEN' AND MaQuyen = 'REGISTER_VIEW')
INSERT INTO
    VaiTro_Quyen (MaVaiTro, MaQuyen)
VALUES ('SINHVIEN', 'REGISTER_VIEW'),
    (
        'SINHVIEN',
        'REGISTER_STUDENT'
    ),
    ('SINHVIEN', 'GRADE_VIEW'),
    ('SINHVIEN', 'COURSE_VIEW');

-- Ban Giám hiệu
IF NOT EXISTS (SELECT 1 FROM VaiTro_Quyen WHERE MaVaiTro = 'BANGIAMHIEU' AND MaQuyen = 'STUDENT_VIEW')
INSERT INTO
    VaiTro_Quyen (MaVaiTro, MaQuyen)
VALUES ('BANGIAMHIEU', 'STUDENT_VIEW'),
    (
        'BANGIAMHIEU',
        'LECTURER_VIEW'
    ),
    ('BANGIAMHIEU', 'COURSE_VIEW'),
    ('BANGIAMHIEU', 'GRADE_VIEW'),
    (
        'BANGIAMHIEU',
        'REGISTER_VIEW'
    ),
    ('BANGIAMHIEU', 'REPORT_VIEW'),
    (
        'BANGIAMHIEU',
        'REPORT_EXPORT'
    );

-- 4. TAI KHOAN (Accounts)
-- Lưu ý: Password được hash, ở đây dùng hash của "123456" cho demo
-- Trong thực tế cần hash password bằng bcrypt hoặc PBKDF2

-- Tài khoản Admin
IF NOT EXISTS (SELECT 1 FROM TaiKhoan WHERE TenDangNhap = 'admin')
INSERT INTO
    TaiKhoan (
        TenDangNhap,
        MatKhauHash,
        MaVaiTro,
        MaSV,
        MaGV,
        TrangThai,
        NgayTao
    )
VALUES (
        'admin',
        HASHBYTES('SHA2_256', '123456'),
        'ADMIN',
        NULL,
        NULL,
        1,
        GETDATE()
    );

-- Tài khoản Phòng Đào tạo
IF NOT EXISTS (SELECT 1 FROM TaiKhoan WHERE TenDangNhap = 'daotao01')
INSERT INTO
    TaiKhoan (
        TenDangNhap,
        MatKhauHash,
        MaVaiTro,
        MaSV,
        MaGV,
        TrangThai,
        NgayTao
    )
VALUES (
        'daotao01',
        HASHBYTES('SHA2_256', '123456'),
        'PHONGDAOTAO',
        NULL,
        NULL,
        1,
        GETDATE()
    ),
    (
        'daotao02',
        HASHBYTES('SHA2_256', '123456'),
        'PHONGDAOTAO',
        NULL,
        NULL,
        1,
        GETDATE()
    );

-- Tài khoản Giảng viên
IF NOT EXISTS (SELECT 1 FROM TaiKhoan WHERE TenDangNhap = 'GV001')
INSERT INTO
    TaiKhoan (
        TenDangNhap,
        MatKhauHash,
        MaVaiTro,
        MaSV,
        MaGV,
        TrangThai,
        NgayTao
    )
VALUES (
        'GV001',
        HASHBYTES('SHA2_256', '123456'),
        'GIANGVIEN',
        NULL,
        'GV001',
        1,
        GETDATE()
    ),
    (
        'GV002',
        HASHBYTES('SHA2_256', '123456'),
        'GIANGVIEN',
        NULL,
        'GV002',
        1,
        GETDATE()
    ),
    (
        'GV003',
        HASHBYTES('SHA2_256', '123456'),
        'GIANGVIEN',
        NULL,
        'GV003',
        1,
        GETDATE()
    ),
    (
        'GV004',
        HASHBYTES('SHA2_256', '123456'),
        'GIANGVIEN',
        NULL,
        'GV004',
        1,
        GETDATE()
    ),
    (
        'GV005',
        HASHBYTES('SHA2_256', '123456'),
        'GIANGVIEN',
        NULL,
        'GV005',
        1,
        GETDATE()
    ),
    (
        'GV006',
        HASHBYTES('SHA2_256', '123456'),
        'GIANGVIEN',
        NULL,
        'GV006',
        1,
        GETDATE()
    ),
    (
        'GV007',
        HASHBYTES('SHA2_256', '123456'),
        'GIANGVIEN',
        NULL,
        'GV007',
        1,
        GETDATE()
    ),
    (
        'GV008',
        HASHBYTES('SHA2_256', '123456'),
        'GIANGVIEN',
        NULL,
        'GV008',
        1,
        GETDATE()
    ),
    (
        'GV009',
        HASHBYTES('SHA2_256', '123456'),
        'GIANGVIEN',
        NULL,
        'GV009',
        1,
        GETDATE()
    ),
    (
        'GV010',
        HASHBYTES('SHA2_256', '123456'),
        'GIANGVIEN',
        NULL,
        'GV010',
        1,
        GETDATE()
    );

-- Tài khoản Sinh viên (Khóa 2022)
IF NOT EXISTS (SELECT 1 FROM TaiKhoan WHERE MaSV = '2022001')
INSERT INTO
    TaiKhoan (
        TenDangNhap,
        MatKhauHash,
        MaVaiTro,
        MaSV,
        MaGV,
        TrangThai,
        NgayTao
    )
VALUES (
        '2022001',
        HASHBYTES('SHA2_256', '123456'),
        'SINHVIEN',
        '2022001',
        NULL,
        1,
        GETDATE()
    ),
    (
        '2022002',
        HASHBYTES('SHA2_256', '123456'),
        'SINHVIEN',
        '2022002',
        NULL,
        1,
        GETDATE()
    ),
    (
        '2022003',
        HASHBYTES('SHA2_256', '123456'),
        'SINHVIEN',
        '2022003',
        NULL,
        1,
        GETDATE()
    ),
    (
        '2022004',
        HASHBYTES('SHA2_256', '123456'),
        'SINHVIEN',
        '2022004',
        NULL,
        1,
        GETDATE()
    ),
    (
        '2022005',
        HASHBYTES('SHA2_256', '123456'),
        'SINHVIEN',
        '2022005',
        NULL,
        1,
        GETDATE()
    ),
    (
        '2022006',
        HASHBYTES('SHA2_256', '123456'),
        'SINHVIEN',
        '2022006',
        NULL,
        1,
        GETDATE()
    ),
    (
        '2022007',
        HASHBYTES('SHA2_256', '123456'),
        'SINHVIEN',
        '2022007',
        NULL,
        1,
        GETDATE()
    ),
    (
        '2022008',
        HASHBYTES('SHA2_256', '123456'),
        'SINHVIEN',
        '2022008',
        NULL,
        1,
        GETDATE()
    ),
    (
        '2022009',
        HASHBYTES('SHA2_256', '123456'),
        'SINHVIEN',
        '2022009',
        NULL,
        1,
        GETDATE()
    );

-- Tài khoản Sinh viên (Khóa 2023)
IF NOT EXISTS (SELECT 1 FROM TaiKhoan WHERE MaSV = '2023001')
INSERT INTO
    TaiKhoan (
        TenDangNhap,
        MatKhauHash,
        MaVaiTro,
        MaSV,
        MaGV,
        TrangThai,
        NgayTao
    )
VALUES (
        '2023001',
        HASHBYTES('SHA2_256', '123456'),
        'SINHVIEN',
        '2023001',
        NULL,
        1,
        GETDATE()
    ),
    (
        '2023002',
        HASHBYTES('SHA2_256', '123456'),
        'SINHVIEN',
        '2023002',
        NULL,
        1,
        GETDATE()
    ),
    (
        '2023003',
        HASHBYTES('SHA2_256', '123456'),
        'SINHVIEN',
        '2023003',
        NULL,
        1,
        GETDATE()
    ),
    (
        '2023004',
        HASHBYTES('SHA2_256', '123456'),
        'SINHVIEN',
        '2023004',
        NULL,
        1,
        GETDATE()
    ),
    (
        '2023005',
        HASHBYTES('SHA2_256', '123456'),
        'SINHVIEN',
        '2023005',
        NULL,
        1,
        GETDATE()
    ),
    (
        '2023006',
        HASHBYTES('SHA2_256', '123456'),
        'SINHVIEN',
        '2023006',
        NULL,
        1,
        GETDATE()
    ),
    (
        '2023007',
        HASHBYTES('SHA2_256', '123456'),
        'SINHVIEN',
        '2023007',
        NULL,
        1,
        GETDATE()
    ),
    (
        '2023008',
        HASHBYTES('SHA2_256', '123456'),
        'SINHVIEN',
        '2023008',
        NULL,
        1,
        GETDATE()
    );

-- Tài khoản Sinh viên (Khóa 2024)
IF NOT EXISTS (SELECT 1 FROM TaiKhoan WHERE MaSV = '2024001')
INSERT INTO
    TaiKhoan (
        TenDangNhap,
        MatKhauHash,
        MaVaiTro,
        MaSV,
        MaGV,
        TrangThai,
        NgayTao
    )
VALUES (
        '2024001',
        HASHBYTES('SHA2_256', '123456'),
        'SINHVIEN',
        '2024001',
        NULL,
        1,
        GETDATE()
    ),
    (
        '2024002',
        HASHBYTES('SHA2_256', '123456'),
        'SINHVIEN',
        '2024002',
        NULL,
        1,
        GETDATE()
    ),
    (
        '2024003',
        HASHBYTES('SHA2_256', '123456'),
        'SINHVIEN',
        '2024003',
        NULL,
        1,
        GETDATE()
    ),
    (
        '2024004',
        HASHBYTES('SHA2_256', '123456'),
        'SINHVIEN',
        '2024004',
        NULL,
        1,
        GETDATE()
    ),
    (
        '2024005',
        HASHBYTES('SHA2_256', '123456'),
        'SINHVIEN',
        '2024005',
        NULL,
        1,
        GETDATE()
    ),
    (
        '2024006',
        HASHBYTES('SHA2_256', '123456'),
        'SINHVIEN',
        '2024006',
        NULL,
        1,
        GETDATE()
    ),
    (
        '2024007',
        HASHBYTES('SHA2_256', '123456'),
        'SINHVIEN',
        '2024007',
        NULL,
        1,
        GETDATE()
    ),
    (
        '2024008',
        HASHBYTES('SHA2_256', '123456'),
        'SINHVIEN',
        '2024008',
        NULL,
        1,
        GETDATE()
    );

-- Sinh viên đã tốt nghiệp
IF NOT EXISTS (SELECT 1 FROM TaiKhoan WHERE MaSV = '2021001')
INSERT INTO
    TaiKhoan (
        TenDangNhap,
        MatKhauHash,
        MaVaiTro,
        MaSV,
        MaGV,
        TrangThai,
        NgayTao
    )
VALUES (
        '2021001',
        HASHBYTES('SHA2_256', '123456'),
        'SINHVIEN',
        '2021001',
        NULL,
        1,
        '2021-09-01'
    );

PRINT N'✓ Đã insert Tài khoản và Phân quyền thành công!';

PRINT N' → Tài khoản demo: admin / 123456';

PRINT N' → Giảng viên: GV001 / 123456';

PRINT N' → Sinh viên: 2022001 / 123456';
GO