-- =============================================
-- Dá»® LIá»†U MáºªU: ÄIá»‚M, PHÃšC KHáº¢O, Tá»T NGHIá»†P
-- =============================================

USE EduProDb;
GO

-- 1. DIEM (Grades) - Äiá»ƒm cá»§a sinh viÃªn nÄƒm 3

-- Äiá»ƒm cá»§a sinh viÃªn nÄƒm 2

-- Äiá»ƒm cá»§a sinh viÃªn nÄƒm 1

-- 2. PHUC KHAO (Grade Appeals)

-- 3. DIEU KIEN TOT NGHIEP (Graduation Requirements)
INSERT INTO
    DieuKienTotNghiep (
        MaNganh,
        MaKhoaTS,
        SoTinChiToiThieu,
        DiemTBTichLuyToiThieu
    )
VALUES ('CNTT01', 'K2020', 140, 2.00),
    ('CNTT01', 'K2021', 140, 2.00),
    ('CNTT01', 'K2022', 145, 2.00),
    ('KTPM01', 'K2022', 145, 2.00),
    ('KHMT01', 'K2023', 150, 2.50);

-- 4. XET TOT NGHIEP (Graduation Evaluation)
INSERT INTO
    XetTotNghiep (
        MaSV,
        LanXet,
        KetQua,
        LyDo,
        NgayXet
    )
VALUES (
        '2021001',
        1,
        N'Äá»§ Ä‘iá»u kiá»‡n',
        N'HoÃ n thÃ nh Ä‘á»§ 140 tÃ­n chá»‰, ÄTB: 3.25, khÃ´ng ná»£ mÃ´n báº¯t buá»™c',
        '2024-06-15'
    ),
    (
        '2022009',
        1,
        N'ChÆ°a Ä‘á»§ Ä‘iá»u kiá»‡n',
        N'CÃ²n thiáº¿u 25 tÃ­n chá»‰, Ä‘ang báº£o lÆ°u',
        '2024-11-30'
    );

PRINT N'âœ“ ÄÃ£ insert Äiá»ƒm, PhÃºc kháº£o, Tá»‘t nghiá»‡p thÃ nh cÃ´ng!';

PRINT N' â†’ 29 báº£n ghi Ä‘iá»ƒm';

PRINT N' â†’ 2 phÃºc kháº£o';

PRINT N' â†’ 5 Ä‘iá»u kiá»‡n tá»‘t nghiá»‡p';

PRINT N' â†’ 2 xÃ©t tá»‘t nghiá»‡p';
GO
USE EduProDb;
GO

DECLARE @MaSV NVARCHAR(20) = '2021001';
DECLARE @MaLHP NVARCHAR(20) = 'LHP_AI01';

-- 1. Insert Registration (if missing) - Use 'ÄÄƒng kÃ½' which is standard
IF NOT EXISTS (SELECT 1 FROM DangKyHocPhan WHERE MaSV = @MaSV AND MaLHP = @MaLHP)
BEGIN
    INSERT INTO DangKyHocPhan (MaSV, MaLHP, TrangThai)
    VALUES (@MaSV, @MaLHP, N'Đang khai giảng');
    PRINT 'Inserted DangKyHocPhan for ' + @MaLHP;
END

-- 2. Insert Grade (if missing)
IF NOT EXISTS (
    SELECT 1
    FROM Diem
    WHERE
        MaSV = @MaSV
        AND MaLHP = @MaLHP
) BEGIN
INSERT INTO
    Diem (
        MaSV,
        MaLHP,
        DiemQT,
        DiemGK,
        DiemCK,
        DiemTK,
        DiemChu,
        DiemHe4,
        KetQua,
        NgayCapNhat
    )
VALUES (
        @MaSV,
        @MaLHP,
        8.0,
        8.5,
        9.0,
        8.8,
        N'A',
        4.0,
        N'Äáº¡t',
        GETDATE ()
    );

PRINT 'Inserted Diem for ' + @MaLHP;

END
